<header id="header" class="alt style2">
	<a href="/" class="logo"><strong>Knickerbocker</strong> <span>Motorsports</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		<li><a href="/">Home</a></li>
		<li><a href="/team/2017/">Current Team</a></li>
		<li><a href="/team/">Past Teams</a></li>
		<li><a href="/gallery/">Gallery</a></li>
		<li><a href="/sponsors/">Sponsors</a></li>
		<li><a href="/contact/">Contact</a></li>
	</ul>
	<!--<ul class="actions vertical">
		<li><a href="#" class="button special fit">Get Started</a></li>
		<li><a href="#" class="button fit">Log In</a></li>
	</ul>-->
</nav>
