<head>
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<!--[if lte IE 8]><script src="/pageassets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="/pageassets/css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="/pageassets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="/pageassets/css/ie8.css" /><![endif]-->
</head>
